version: '3.2'

networks:
    elk:
      driver: bridge

volumes:
    elasticsearch:
    
services: 
  elasticsearch:
    image: elasticsearch:7.9.2 
    container_name: elasticsearch   
    volumes:
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      ELASTIC_PASSWORD: elastic
      discovery.type: single-node 
    networks:
      - elk   

  logstash:
    image: logstash:7.9.2   
    container_name: logstash 
    volumes:
      - type: bind
        source: ./logstash/config/logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./logstash/pipeline
        target: /usr/share/logstash/pipeline
        read_only: true
    ports:
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    depends_on:
      - elasticsearch
    networks:
      - elk

  kibana:
    image: kibana:7.9.2
    container_name: kibana
    volumes:
      - type: bind
        source: ./kibana/config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elk

  mysql:
    image: mysql:8.0.21    
    container_name: mysql
    restart: always
    hostname: mysql
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=customer-service
      - MYSQL_USER=root
      - MYSQL_PASSWORD=admin
      
  customer-service:
    image: unbox/customer-service:latest
    build: ./    
    container_name: customer-service
    restart: always
    depends_on:
      - mysql
      - elasticsearch
      - logstash
      - kibana
    ports:
      - 8080:8080
    environment:
      - DATABASE_HOST=mysql
      - DATABASE_USER=root
      - DATABASE_PASSWORD=admin
      - DATABASE_NAME=customer-service
      - DATABASE_PORT=3306
      - ELASTIC_SEARCH_URL=http://elasticsearch:9200/_bulk      
 
  